@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #3a3a3a;
  --secondary-color: #18191f;
  --hover-color: #000000;
}
/* shares css codes */
.primary-btn {
  background-color: #e02c6d;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 25px;
  border: none;
  outline: none;
  border-radius: 25px;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
/* header section styles code */
#menu-icon {
  display: none;
}
#close-mark {
  display: none;
}
.nav {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color);
}
.nav .nav-list-container {
  display: flex;
  align-items: center;
}
.nav .nav-list-container > ul {
  display: flex;
  align-items: center;
}
.nav .nav-list-container .nav-lists .nav-item {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 600;
}
.nav .nav-list-container .header-icons-list .nav-icons {
  font-size: 1.25rem;
  list-style: none;
  margin-right: 30px;
}
.nav .nav-list-container .header-icons-list .nav-icons a {
  text-decoration: none;
  color: var(--primary-color);
}
.nav .nav-list-container .nav-lists .nav-item a {
  text-decoration: none;
  color: var(--primary-color);
}
.nav .nav-list-container ul .nav-item a:hover {
  color: var(--hover-color);
}

/* banner section styles code start */
.banner{
  /* background-color: beige; */
}
.banner-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content{
  width: 60%;
}
.banner-content .banner-title{
  font-size: 3.25rem;
  color: var(--primary-color);
}
.banner-content .banner-desc{
  font-size: 1rem;
  width: 70%;
  line-height: 27px;
  font-weight: 600;
  color: var(--primary-color);
  margin: 10px 0px 30px;
}
.banner-image{
  width: 40%;
  background-repeat: no-repeat;
  background-image: url('../images/Circle\ design.svg');
}
.banner-image img{
  width: 100%;
}

/* sponsors companies section styles codes start */
.sponsor-container{
  margin-top: 70px;
  padding: 30px 0;
  display: flex;
  box-shadow: 0px 0px 5px #ddd;
  justify-content: space-around;
}



/* popular collection styles codes start */
.collection-container{
  margin-top: 30px;
}
.collection-container h2{
  padding: 60px 0;
  text-align: center;
  font-size: 1.75rem;
  color: var(--primary-color);
}
.collection-wrapper{
  display: grid;
  gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(3, 330px);
}
.collection-container .collection-wrapper .single-product{
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.collection-wrapper .single-product img{
  width: 100%;
}






